.bg-brown {
    background-color: #f6eeea;
  }
.icon-link {
    width:2.5rem;
    height:2.5rem;
    color: #272727;
    transition: 0.5s;
}
.icon-link:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.content{
  text-align: center;
}

  